In [9]:
# 딥러닝을 구동하는 데 필요한 케라스 함수를 불러옵니다.
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# 필요한 라이브러리를 불러옵니다.
import numpy as np
import tensorflow as tf
import pandas as pd

# 실행할 때마다 같은 결과를 출력하기 위해 설정하는 부분입니다.
numpy.random.seed(3)
tf.random.set_seed(3)

## 1. 데이터 읽어오기

In [7]:
df = pd.read_csv('dataset/housing.csv', header=None)
df

                                                     0
0     0.00632  18.00   2.310  0  0.5380  6.5750  65...
1     0.02731   0.00   7.070  0  0.4690  6.4210  78...
2     0.02729   0.00   7.070  0  0.4690  7.1850  61...
3     0.03237   0.00   2.180  0  0.4580  6.9980  45...
4     0.06905   0.00   2.180  0  0.4580  7.1470  54...
..                                                 ...
501   0.06263   0.00  11.930  0  0.5730  6.5930  69...
502   0.04527   0.00  11.930  0  0.5730  6.1200  76...
503   0.06076   0.00  11.930  0  0.5730  6.9760  91...
504   0.10959   0.00  11.930  0  0.5730  6.7940  89...
505   0.04741   0.00  11.930  0  0.5730  6.0300  80...

[506 rows x 1 columns]

In [ ]:
# 이 방법은 나중에 해보기
# dataset = np.loadtxt('dataset/housing.csv', dtype=str, delimiter=' ')
# dataset

In [ ]:
df.read_csv()

## 2. 데이터 전처리

## 3. 모델 설계

## 4. 모델 컴파일

## 5. 학습